@{
    TempData.Keep();
    string currentPage = $"{Convert.ToString(ViewContext.RouteData.Values["controller"])!}";
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a href="/" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <li class='menu-item@(currentPage ==DashboardViewEnum.Home.ToString() ? " active open" : "")'>
            <a asp-action="Index" asp-controller="Home" asp-area="" class="menu-link">
                <i class="menu-icon tf-icons ti ti-home"></i>
                <div data-i18n="@Localizer.Get("Home")">@Localizer.Get("Home")</div>
            </a>
        </li>

       

        <!-- Main Data -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">@Localizer.Get("Advanced Settings")</span>
        </li>
     
    
        <li class='menu-item@(currentPage ==DashboardViewEnum.AccountState.ToString() 
                            ||currentPage == DashboardViewEnum.AccountType.ToString()? " active open" : "")'>
            <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <i class='menu-icon tf-icons ti ti-users'></i>
                <div data-i18n='@Localizer.Get("Account Data")'>@Localizer.Get("Account Data")</div>

            </a>
            <ul class='menu-sub'>
                <li class='menu-item@(currentPage == DashboardViewEnum.AccountState.ToString() ? " active" : "")'>
                    <a asp-area="AccountEntity" asp-controller="AccountState" asp-action="Index"  class='menu-link'>
                        <div data-i18n='@Localizer.Get("AccountStates")'>@Localizer.Get("AccountStates")</div>
                    </a>
                </li>
           
            </ul>
        </li>
      
      
    </ul>

</aside>
<!-- / Menu -->
