@{
    ViewData["Title"] = Localizer.Get("Hotels");
    Layout = "Layouts/_ContentNavbarLayout";
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];

    var row = new HotelDto();
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/plyr/plyr.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/plyr/plyr.dist.js"></script>
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/app-academy.dist.css" />
}

@section PageScripts {
  <script src="~/js/app-academy-course.dist.js"></script>
    <script src="~/custom/js/data-table/filter.js"></script>
    <script src="~/custom/js/pages/filter-general.js"></script>

    <script src="~/custom/js/data-table/modal.js"></script>
  <script src="~/custom/js/data-table/pages/hotel-datatable.js"></script>

  <script>
      loadRows();
  </script>
}

@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">
    <a asp-action="Index" asp-controller="Home" asp-area="Dashboard">@Localizer.Get("Home")</a> /
  </span> @Localizer.Get("Hotels")
</h4>

<div class="app-academy">
  <div class="card p-0 mb-4">
    <div class="card-body d-flex flex-column flex-md-row justify-content-between p-0 pt-4">
      <div class="app-academy-md-25 card-body py-0">
        <img src="~/img/illustrations/bulb-light.png" class="img-fluid app-academy-img-height scaleX-n1-rtl" alt="Bulb in hand" data-app-light-img="illustrations/bulb-light.png" data-app-dark-img="illustrations/bulb-dark.png" height="90" />
      </div>
      <div class="app-academy-md-50 card-body d-flex align-items-md-center flex-column text-md-center">
        <h3 class="card-title mb-4 lh-sm px-md-5 lh-lg">
          @Localizer.Get("All Hotels Description")
          <span class="text-primary fw-medium text-nowrap">@Localizer.Get("Active and Inactive")</span>.
        </h3>
        <p class="mb-3">
          @Localizer.Get("You can use advanced search and sorting to get the best results")
        </p>
        <div class="d-flex align-items-center justify-content-between app-academy-md-80">
          <input type="search" placeholder="@Localizer.Get("Search with specific word")" class="form-control me-2" id="search-input">
          @* <button type="submit" class="btn btn-primary btn-icon"><i class="ti ti-search"></i></button> *@
        </div>
      </div>
      <div class="app-academy-md-25 d-flex align-items-end justify-content-end">
        <img src="~/img/illustrations/pencil-rocket.png" alt="pencil rocket" height="188" class="scaleX-n1-rtl" />
      </div>
    </div>
  </div>
    @{
        await Html.RenderPartialAsync("../Hotel/Filter", Model, ViewData);
    }

  <div class="card mb-4">
    <div class="card-header d-flex flex-wrap justify-content-between gap-3">
      <div class="card-title mb-0 me-1">
        <h5 class="mb-1">@Localizer.Get("Hotels")</h5>
        <p class="text-muted mb-0">@Localizer.Get("Total") <span class="results_found_count">0</span> @Localizer.Get("Hotel Number")</p>
      </div>
      <div class="d-flex justify-content-md-end align-items-center gap-4 flex-wrap">
        
        <a href="/HotelEntity/Hotel/CreateOrEdit" class="btn add-new btn-primary open-create-modal" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
          <span>
            <i class="ti ti-plus me-0 me-sm-1 ti-xs"></i>
            <span class="d-none d-sm-inline-block">@Localizer.Get("AddNew")</span>
          </span>
        </a>
        
        <select id="select2_course_select" class="form-select select2 order_by_selector" data-placeholder="@Localizer.Get("OrderBy")">
          <option value="id desc">@Localizer.Get("OrderById")</option>
          <option value="name desc">@Localizer.Get("Name desc")</option>
          <option value="name asc">@Localizer.Get("Name asc")</option>
          <option value="price desc">@Localizer.Get("Price desc")</option>
          <option value="rate desc">@Localizer.Get("Rate desc")</option>
        </select>

        <label class="switch">
          <input type="checkbox" class="switch-input is_active" checked>
          <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
          </span>
          <span class="switch-label text-nowrap mb-0">@Localizer.Get("IsActive")</span>
        </label>
        
        <label class="switch">
          <input type="checkbox" class="switch-input is_recommended">
          <span class="switch-toggle-slider">
            <span class="switch-on"></span>
            <span class="switch-off"></span>
          </span>
          <span class="switch-label text-nowrap mb-0">@Localizer.Get("IsRecommended")</span>
        </label>
      </div>
    </div>
    <div class="card-body">
      <input type="hidden" class="gridView" value="true" />
      <div id="list-of-hotels" class="row gy-4 mb-4"></div>
      <div id="not-found-hotels"></div>
      <nav aria-label="Page navigation" class="d-flex align-items-center justify-content-center">
        <ul id="pagination-controls" class="pagination"></ul>
      </nav>
    </div>
  </div>
  
</div>
