@model HotelDto
@{
    ViewData["Title"] = Localizer.Get("Hotels");
    Layout = "Layouts/_ContentNavbarLayout";
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];
}

@section VendorStyles{
  <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
}

@section VendorScripts {
  <script src="~/vendor/libs/select2/select2.dist.js"></script>
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/page-profile.dist.css" />
}

@section PageScripts {
  <script src="~/custom/js/pages/profile-page.js"></script>
}

@* ************** Content ************** *@

<!-- Header -->
<div class="row">
    <input type="hidden" id="currentActiveLink" value="HotelList" />
  <div class="col-12">
    <div class="card mb-4">
      <div class="user-profile-header-banner">
        <img src="~/img/pages/profile-banner.png" alt="Banner image" class="rounded-top">
      </div>
      <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
        <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
          <img src="@Model.ImageUrl" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img">
        </div>
        <div class="flex-grow-1 mt-3 mt-sm-5">
          <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
            <div class="user-profile-info">
              <h4>@Model.Name</h4>
            
              <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                                    <a class="nav-link active" id="/HotelEntity/Hotel/Details/@Model.Id"><i class='ti-xs ti ti-list-details me-1'></i> @Localizer.Get("_Details")</a>
                </li>
                <li class="nav-item">
                                    <a class="nav-link" id="/HotelEntity/HotelAttachment/Index?Fk_Hotel=@Model.Id"><i class='ti-xs ti ti-paperclip me-1'></i> @Localizer.Get("HotelAttachments")</a>
                </li>
                <li class="nav-item">
                                    <a class="nav-link" id="/HotelEntity/HotelRoom/Index?Fk_Hotel=@Model.Id"><i class='ti-xs ti ti-lamp me-1'></i> @Localizer.Get("HotelRooms")</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="/HotelEntity/HotelExtra/Index?Fk_Hotel=@Model.Id"><i class='ti-xs ti ti-address-book me-1'></i> @Localizer.Get("HotelExtras")</a>
                </li>
              </ul>
            </div>
            <a href="/HotelEntity/Hotel/CreateOrEdit/@Model.Id" class="btn btn-primary modal-btn-profile-edit">
              <i class='ti ti-edit me-1'></i>@Localizer.Get("Edit")
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Header -->



<!-- User Profile Content -->
<section id="profile-info">
  <div class="page_content"></div>
</section>
<!--/ User Profile Content -->