@model AccountFilter
@{
    Layout = null;
}
<div class="accordion mt-3 mb-4" id="accordionWithIcon">
    <div class="card accordion-item active">
        <h2 class="accordion-header d-flex align-items-center">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionWithIcon-1" aria-expanded="true" fdprocessedid="1dle7e">
                <i class="ti ti-search ti-xs me-2"></i>
                @Localizer.Get("Advanced Search")
            </button>
        </h2>
        <div id="accordionWithIcon-1" class="accordion-collapse collapse show" style="">
            <div class="accordion-body">
                <form asp-action="LoadTable" class="filter">
                    <div class="row">
                        <div class="col-12">
                            <div class="row g-3">
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <select id="Fk_AccountType_Filter" asp-for="Fk_AccountType" class="select2 form-select filter-input" asp-items="@(new SelectList(ViewData["AccountTypes"] as Dictionary<string,string>,"Key","Value"))">
                                        <option value="0">@Localizer.Get("All") @Localizer.Get("AccountTypes")</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <select id="Fk_AccountState_Filter" asp-for="Fk_AccountState" class="select2 form-select filter-input" asp-items="@(new SelectList(ViewData["AccountStates"] as Dictionary<string,string>,"Key","Value"))">
                                        <option value="0">@Localizer.Get("All") @Localizer.Get("AccountStates")</option>
                                    </select>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-4">
                                    <select id="HaveBookings_Filter" asp-for="HaveBookings" class="form-select filter-input">
                                        <option value="" selected disabled>@Localizer.Get("HaveBookings")</option>
                                        <option value="">@Localizer.Get("All") @Localizer.Get("Accounts")</option>
                                        <option value="true">@Localizer.Get("Yes")</option>
                                        <option value="false">@Localizer.Get("No")</option>
                                    </select>
                                </div>


                                <div class="col-12 col-sm-6 col-lg-4">
                                    <input type="text" class="form-control filter-input dt-date flatpickr-range dt-input flatpickr-input active" data-column="1" placeholder="@Localizer.Get("CreatedAt")" data-column-index="0" name="dt_date" readonly="readonly">
                                    <input type="hidden" class="form-control filter-input dt-date start_date dt-input" data-column="1" data-column-index="0" asp-for="CreatedAtFrom">
                                    <input type="hidden" class="form-control filter-input dt-date end_date dt-input" asp-for="CreatedAtTo" data-column="1" data-column-index="0">
                                </div>
                                <div class="col-12">
                                    <a href="" class="filter-submit-btn text-primary" style="text-decoration:underline">@Localizer.Get("Reset")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
