@{
    ViewData["Title"] = Localizer.Get("DashboardAdministrators");
    Layout = "Layouts/_ContentNavbarLayout";
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];

    var row = new DashboardAdministratorDto();
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/node-waves/node-waves.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr.dist.js"></script>

}

@section PageScripts {
    <script src="~/js/form-layouts.dist.js"></script>
    <script src="~/js/tables-datatables-advanced.dist.js"></script>
    <environment include="Development">
        <script src="~/custom/js/data-table/table-datatables.js"></script>
        <script src="~/custom/js/data-table/modal.js"></script>
        <script src="~/custom/js/data-table/filter.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/custom/js/data-table/table-datatables.min.js"></script>
    </environment>
    <script src="~/custom/js/general/color.js"></script>
    <script src="~/custom/js/pages/roles-index.js"></script>
    <script src="~/custom/js/data-table/pages/admin-datatable.js"></script>

}

@* ************** Content ************** *@

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        @{
            await Html.RenderPartialAsync("../DashboardAdministrationRole/Index");
        }
     
        <div class="card">
            <div class="card-header border-bottom">
            </div>
            <div class="card-datatable table-responsive">
                <table class="datatables-users table dataTable no-footer dtr-column">
                    <thead class="border-top">
                        <tr>
                            <th class="sorting sorting_desc ">
                                @Html.DisplayNameFor(model => row.Id)

                                @if (accessLevel.CreateAccess)
                                {
                                    <a id="create" asp-action="CreateOrEdit" class="open-modal-side">
                                    </a>
                                }

                                @if (accessLevel.EditAccess)
                                {
                                    <a id="edit" asp-action="CreateOrEdit" class="open-modal-side">
                                    </a>
                                }
                                @if (accessLevel.DeleteAccess)
                                {
                                    <a id="delete" asp-action="Delete" class="open-modal">
                                    </a>
                                }
                            </th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.User.FullName)</th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.User.UserName)</th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.User.PhoneNumber)</th>
                            <th class="sorting_disabled">@Html.DisplayNameFor(model => row.DashboardAdministrationRole)</th>
                            <th class="sorting_disabled">@Html.DisplayNameFor(model => row.JobTitle)</th>
                            <th class="sorting_disabled">@Html.DisplayNameFor(model => row.IsActive)</th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.CreatedAt)</th>
                            <th class="sorting_disabled"></th>
                        </tr>
                    </thead>
                </table>

            </div>

        </div>

    </div>
</div>
<!--Modals -->
@await Html.PartialAsync("../Shared/Custom/_Partials/_modals")
<!-- /Modals -->
