@model HotelAttachmentFilter
@{
    ViewData["Title"] = Localizer.Get("HotelAttachments");
    Layout = "Layouts/_EmptyLayout";
    
    ViewData["isNavbar"] = false;
    ViewData["isMenu"] = false;
    ViewData["isFlex"] = false;
    ViewData["isFooter"] = false;
    ViewData["isEmpty"] = false;
    
    @*HTML Classes *@
    ViewData["navbarDetached"] = "";
    ViewData["menuFixed"] = "";
    ViewData["navbarType"] = "";
    
    @*Content classes *@
    ViewData["container"] = "";
    ViewData["containerNav"] = "";
    
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];

    var row = new HotelAttachmentDto();
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/node-waves/node-waves.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/dropzone/dropzone.dist.css" />
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/node-waves/node-waves.dist.css">
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/dropzone/dropzone.dist.js"></script>
}

@section PageScripts {

    <script src="~/js/form-layouts.dist.js"></script>
    <environment include="Development">
        <script src="~/custom/js/data-table/table-datatables.js"></script>
        <script src="~/custom/js/data-table/modal.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/custom/js/data-table/table-datatables.min.js"></script>
    </environment>
    <script src="~/custom/js/general/color.js"></script>
    <script src="~/custom/js/general/dropzone.js"></script>
    <script src="~/custom/js/data-table/pages/hotel-attachment-datatable.js"></script>
}

@* ************** Content ************** *@
    
@* Datatable parameters *@

<input hidden asp-for="@Model.Fk_Hotel" />

@* Datatable parameters *@
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        @{
            await Html.RenderPartialAsync("../HotelAttachment/Upload", Model.Fk_Hotel, ViewData);
        }
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="card-title mb-3">@ViewData["Title"]</h5>
            </div>

            <div class="card-datatable table-responsive">
                <table class="datatables-users table dataTable no-footer dtr-column">
                    <thead class="border-top">
                    <tr>
                        <th class="sorting sorting_desc ">
                            @Html.DisplayNameFor(model => row.Id)

                            @if (accessLevel.ViewAccess)
                            {
                                <a id="details" asp-action="Details" class="open-modal">
                                </a>
                            }

                            @if (accessLevel.DeleteAccess)
                            {
                                <a id="delete" asp-action="Delete" class="open-modal">
                                </a>
                            }
                        </th>
                        <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.FileName)</th>
                        <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.FileUrl)</th>
                        <th class="sorting sorting_desc">@Localizer.Get("Download")</th>
                        <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.CreatedAt)</th>
                        <th class="sorting_disabled"></th>
                    </tr>
                    </thead>
                </table>

            </div>

        </div>
    </div>
</div>
<!--Modals -->
@await Html.PartialAsync("../Shared/Custom/_Partials/_modals")
<!-- /Modals -->
