@model HotelRoomCreateOrEditModel
@{
	ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("HotelType")}";
	Layout = null;
}

<div class="text-center mb-4">
	<h3 class="mb-2 modal-title">@Localizer.Get("HotelTypes")</h3>
	<p class="text-muted modal-subtitle">@ViewData["Title"]</p>
</div>
<div class="row g-3 ">
	<form asp-action="CreateOrEdit">
		<div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
		<input hidden asp-for="Fk_Hotel" />
		<div class="row g-3">
			<div class="col-md-6">
				<label class="form-label" asp-for="Fk_RoomType"></label>
				<select asp-for="Fk_RoomType" class="select2 form-select" asp-items="@(new SelectList(ViewData["RoomTypes"] as Dictionary<string,string>,"Key","Value"))">
				</select>
				<span asp-validation-for="Fk_RoomType" class="text-danger"></span>
			</div>
			
			<div class="col-md-6">
				<label class="form-label" asp-for="Fk_RoomFoodType"></label>
				<select asp-for="Fk_RoomFoodType" class="select2 form-select" asp-items="@(new SelectList(ViewData["RoomFoodTypes"] as Dictionary<string,string>,"Key","Value"))">
				</select>
				<span asp-validation-for="Fk_RoomFoodType" class="text-danger"></span>
			</div>
			
			<div class="col-md-6">
				<label class="form-label" asp-for="MaxCount"></label>
				<input asp-for="MaxCount" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get("MaxCount"))">
				<span asp-validation-for="MaxCount" class="text-danger"></span>
			</div>
			
			@await Html.PartialAsync("_HotelRoomPricesRepeater", Model)

		</div>
		<hr class="my-4 mx-n4">
		<div class="pt-4 text-center">
			<button type="submit" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light" fdprocessedid="cb7r5">@Localizer.Get("Submit")</button>
			<button type="reset" class="btn btn-label-secondary waves-effect" fdprocessedid="v445du">@Localizer.Get("Reset")</button>
		</div>
	</form>
</div>


<script>
	$(document).ready(function () {

		$(document).on('click', '#add-new-btn', function () {
			setTimeout(function () {
				$(".idElem").last().val('0');
				$(".adultPriceElem").last().val('');
				$(".childPriceElem").last().val('');
				$(".fromDateElem").last().val('');
				$(".toDateElem").last().val('');
			}, 500);
		});
		
		$('.repeater').repeater({
			show: function () {
				$(this).slideDown();
			},
			hide: function (deleteElement) {
				$(this).slideUp(deleteElement);
			},
		});

		$('button[data-repeater-delete][newRepeater]').click();
	});
</script>