@model HotelRoomFilter
@{
    ViewData["Title"] = Localizer.Get("HotelRooms");
    Layout = "Layouts/_EmptyLayout";
    var accessLevel = (DashboardAccessLevelModel)ViewData[ViewDataConstants.AccessLevel];

    var row = new HotelRoomDto();
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/node-waves/node-waves.dist.css">
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
}

@section PageScripts {
    <script src="~/custom/js/general/repeater-lib.js"></script>
    <script src="~/js/form-layouts.dist.js"></script>
    <environment include="Development">
        <script src="~/custom/js/data-table/table-datatables.js"></script>
        @* <script src="~/custom/js/data-table/modal.js"></script> *@
        <script src="~/custom/js/data-table/filter.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/custom/js/data-table/table-datatables.min.js"></script>
    </environment>
    <script src="~/custom/js/general/color.js"></script>
    <script src="~/custom/js/data-table/pages/hotel-room-datatable.js"></script>
    @* <link rel="stylesheet" href="~/custom/js/general/repeater.js"> *@
}

@* ************** Content ************** *@

@* Datatable parameters *@

<input hidden asp-for="@Model.Fk_Hotel" />

@* Datatable parameters *@

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="card-title mb-3">@ViewData["Title"]</h5>
            </div>
            <div class="card-datatable table-responsive">
                <table class="datatables-users table dataTable no-footer dtr-column">
                    <thead class="border-top">
                        <tr>
                            <th class="sorting sorting_desc ">
                                @Html.DisplayNameFor(model => row.Id)

                                @if (accessLevel.ViewAccess)
                                {
                                    <a id="details" asp-action="Details" class="open-modal-xl">
                                    </a>
                                }
                                @if (accessLevel.CreateAccess)
                                {
                                    <a id="create" asp-action="CreateOrEdit" asp-route-fk_Hotel="@Model.Fk_Hotel" class="open-xl-modal">
                                    </a>
                                }

                                @if (accessLevel.EditAccess)
                                {
                                    <a id="edit" asp-action="CreateOrEdit" class="open-xl-modal">
                                    </a>
                                }
                                @if (accessLevel.DeleteAccess)
                                {
                                    <a id="delete" asp-action="Delete" class="open-modal">
                                    </a>
                                }
                            </th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.RoomType)</th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.RoomFoodType)</th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.MaxCount) @Localizer.Get("For individuals")</th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.BookingRoomsCount)</th>
                            <th class="sorting sorting_desc">@Html.DisplayNameFor(model => row.CreatedAt)</th>
                            <th class="sorting_disabled"></th>
                        </tr>
                    </thead>
                </table>

            </div>

        </div>

    </div>
</div>
